.profile-item{
    display: flex;
}

.profile-content {
    /*color:red;*/
    /*border: 1px solid red;*/
    /*float:right;*/
    text-align: right;
    flex: 1;
}

.profile-tag {
    text-align: left;
    font-weight: bold;
}
