svg {
    stroke-width: .2;
}

svg text {
    font-size: 0.2em;
}

svg text.legend-text {
    font-size: 0.1em;
}

svg rect {
    stroke: black;
    fill: none;
}

svg line {
    stroke: black;
    fill: none;
}

/*!********END SHOTCHART COURT STYLES****** *!*/
/*!********SHOT STYLES****** *!*/
svg circle {
    stroke: black;
    fill: none;
}

svg circle.shot.make {
    fill: green;
    stroke: white;
    stroke-width: 0.05;
}

svg circle.shot.miss {
    fill: red;
    stroke: white;
    stroke-width: 0.05;
}

